<mat-card>
  <mat-card-header>
    <mat-card-title >Top Cryptocurrencies</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-nav-list>
      <mat-list-item *ngFor="let crypto of marketData" 
      [class.bg-danger]="crypto.pc < 0" 
      [class.bg-success]="crypto.pc >= 0" 
      [class.bg-secondary]="crypto.pc === 0" 
      class="text-white" 
      [routerLink]="['crypto', crypto.s]"
      >
        <h3 mat-line>{{crypto.s}}</h3>
        <p mat-line>{{crypto.mc | currency}}</p>
        {{crypto.p | currency}}
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-nav-list>
  </mat-card-content>
</mat-card>

