<!-- <div class="container text-center p-5">
  <div class="row mb3">
    <div class="col-12">
      <h3>coin of the day</h3>
    </div>
  </div>

  <div class="row mb3">
    <div class="col-12">
      <p>$43,069.89</p>
    </div>
  </div>

  <div class="row mb3">
    <div class="col-12">
      <p>Cryptocurrency, sometimes called crypto-currency or crypto, is any form of currency that exists digitally or virtually and uses cryptography to secure transactions. Cryptocurrencies don't have a central issuing or regulating authority, instead using a decentralized system to record transactions and issue new units.</p>
    </div>
  </div>
</div> -->

<mat-card>
  <mat-card-header>
    <mat-card-title>BTC</mat-card-title>
    <mat-card-subtitle>Bitcoin</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content></mat-card-content>
</mat-card>